h1 {
    padding-top: 5px;

}

body {

    background-image: url('consultabanner1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Espaçamento do topo do conatiner*/
.container {

    padding-top: 50px;
}

header {

    background-color: rgb(134, 183, 238);
}

header h1 {

    font-family:courier,arial,helvetica;
    color: rgb(4, 4, 4);
}

/*Configuração e posição da imagem*/
img {
    max-width: 450px;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

button {

    border: solid 5px;
    background-color: rgb(238, 242, 245);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login {
    padding-top: auto;
    padding-bottom: auto;


}


/*AQUI É FEITO O ALINHAMENTO DO INPUT*/
.login input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-radius: 0px;
    background-color: white;
    color: black;

}

/*AQUI É FEITO O ALINHAMENTO DO BOTÃO*/
.login button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: floralwhite;
    width: 360px;
    padding-top: 5px;
}

/*Configuração e formatação do menu*/
.menu a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    text-transform: capitalize;
}

.menu a:hover {
    background-color: rgb(45, 197, 202);
    color: white;
}

.menu li
 {
    text-decoration: none;
    list-style-type: none;
    display:inline;
    padding: 10px 5px;
    border-radius: 5px;
}
.menu{
    margin:auto;
    font-family:sans-serif;
    font-size: 18px;
    
}
.menu ul {
    margin-left: -0px;
    
}

.topomenu {
    text-align: left;
    color: rgb(29, 27, 27);
    margin: -0;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    padding-top: 0px;
}

.test {
    background-color: blue;
    color: white;
    text-transform: uppercase;
    height: 25px;

    padding: 1px;

}


